
 

  
<div class="container p-5 my-5 border">
  <h1>My First Bootstrap Page</h1>
  <p>This container has a border and some extra padding and margins.</p>
</div>



<nav class="navbar navbar-expand-sm bg-light">

    <div class="btn-group">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">categoria</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Frutas</a></li>
              <li><a class="dropdown-item" href="#">Verduras</a></li>
              <li><a class="dropdown-item" href="#">legumbres</a></li>
              <li><a class="dropdown-item" href="#">granos</a></li>
            </ul>
          </div>
        <button type="button" class="btn btn-primary">Ofertas</button>
        <button type="button" class="btn btn-primary">vender</button>
        <button type="button" class="btn btn-primary">comprar</button>
        <button type="button" class="btn btn-primary">ayuda</button>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">ingresar</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">productor</a></li>
            <li><a class="dropdown-item" href="#">cliente</a></li>
            <li><a class="dropdown-item" href="#">conductor</a></li>
          </ul>
        </div>
      </div>
  
  </nav>

  