<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <title>documnet</title>  
    </head>
    <body>
        {% include 'menu.html' %}
        <p style="color:green; font-size:10px">bienvenidos a priemra pagina con plantilllas poo</p>
        <p> fecha {{ fecha }} </p>
        <p>mi nombre es : {{ nombre.upper }} </p>
        <p>mi estado es : {{ resultado }}</p>
        <p>mi estado es : {{ temas }}</p>
        <hr>
        <p>valores de la lista : {{ temas.1 }}&nbsp;{{ temas.2 }}  </p>
        <hr>
        <p> {% if temas %}
                {% for item in temas %} 

                <li>{{item}}</li>   

                {% endfor %}
            {% else %}
                no hay datos
            {% endif %}    
        </p>
        <hr>
        <p>
            {% if nombre == "andres" %}
                <span style="font-size:12px;color:green">el profesor es el titular</span>
            {% else %}
            <span style="font-size:12px;color:red">el profesor no es el titular</span>
            {% endif %}    
        </p>
    </body>
    </html>