<!DOCTYPE html>
    <html>
    <head>

        <title>plantillas que recibe parametros con color </title>
        <style type="text/css">
            li {
                color: blue;
               }
        </style>
    </head>
    <body>
        <h1>nombre del canal:  {{nombre}}</h1>
        <h2>fecha actual : {{fechaActual.day}} / {{fechaActual.month}}  / {{fechaActual.year{}}</h2>
        <h3>el correo es {{correo}}</h3>
        <ul>
            {% for leng in lenguajes %}
                {% if leng == 'python' %}
                    <li style='color: yellow;'>{{leng}}</li>
                {% else %}
                    <li>{{leng|lower}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>